:root {
    --White: hsl(0, 0%, 100%);
    --Stone100: hsl(30, 54%, 90%);
    --Stone150: hsl(30, 18%, 87%);
    --Stone600: hsl(30, 10%, 34%);
    --Stone900: hsl(24, 5%, 18%);
    --Brown800: hsl(14, 45%, 36%);
    --Rose800: hsl(332, 51%, 32%);
    --Rose50: hsl(330, 100%, 98%);
}

* {
    box-sizing: border-box; 
    font-family: 'Outfit', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center; /* Vertikálne centrovanie */
    min-height: 100vh;
    width: 100%;
    margin: 0;
    gap: 0.5rem;
}

.recipe-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Vertikálne centrovanie */
    margin: 0 auto; /* Toto kartu vycentruje vodorovne */
    width: 100%;
    max-width: 24rem;
    padding-bottom: 0.5rem;
}

img {
    max-width: 100%; 
    height: auto;
    object-fit: cover;    /* Zabezpečí, že sa obrázok pri zmene pomeru nezdeformuje */
    margin: 0;
    padding-bottom: 0.75rem;
}

.recipe-page {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Vertikálne centrovanie */
    margin: 0 auto; /* Toto kartu vycentruje vodorovne */
    width: 100%;
    max-width: 24rem;
    padding: 1.7rem 1.7rem 0 2rem;
}

h1 {
    font-size: 2.25rem;     
    color: var(--Stone900);
    font-weight: 400;
    margin: 0;
    font-family: 'Young Serif', sans-serif;
    line-height: 1;
}

p {
    font-size: 1rem;
    margin: 0;
    padding-block-start: 1.5rem;
    line-height: 1.5;
    font-weight: 400;
    color: var(--Stone600);
}

.preparation-time {
    background-color: var(--Rose50); /* Svetloružové pozadie */
    /* Tento zápis vytvorí ten efekt vrstvenia */
    box-shadow: 
        0.5rem -0.25rem var(--Rose50);
    margin-top: 2.2rem;
    margin-left: 2rem;
    margin-right: 2rem;
    padding-top: 1.1rem;
    padding-left: 1.5rem;
    padding-right: 2.25rem;
    padding-bottom: 1.45rem;
    border-radius: 0.5rem;
    width: calc(100% - 4.5rem); /* Zabezpečí, že box nepretečie kvôli marginu */ 
}

.preparation-time h3 {
    color: var(--Rose800);
    font-size: 1.25rem;
    font-weight: 600;
    margin: 0;   
}

/* 1. Základné nastavenie kontajnerov */
.preparation-time ul {
    margin-top: 0.9rem; /* Zmenšené z 1.5rem */
    margin-bottom: 0;
    padding-left: 0.4rem;    /* Priestor, v ktorom "bývajú" odrážky */
    list-style-position: outside; /* Odrážka je mimo textu (štandard) */
}

.preparation-time li:first-child {
    line-height: 1.455;
    display: list-item;
}

/* Odstránenie spodného marginu pri poslednej položke */
.preparation-time li:last-child {
    margin-bottom: 0;
}

.preparation-time li {
    list-style: none;      /* Skryjeme pôvodnú bodku */
    position: relative;    /* Základňa pre našu novú bodku */
    padding-left: 2.1rem;  /* Priestor pre bodku vľavo */
    margin-bottom: 0.5rem;
    line-height: 1.55;
    color: var(--Stone600);
}

.preparation-time li::before {
    content: "•";          /* Naša bodka */
    color: var(--Rose800);
    position: absolute;    /* Umožní nám s ňou hýbať nezávisle od textu */
    
    /* CENTROVANIE BODKY: */
    left: 0;               /* Bodka úplne vľavo v tom paddingu */
    top: 50%;              /* Posunie bodku do stredu výšky */
    transform: translateY(-50%); /* Presne vycentruje stred bodky na stred riadkov */
    
    font-size: 1.5rem;     /* Veľkosť bodky */
    line-height: 1;
}

/* 3. Špeciálne farby pre bodky a čísla (pomocou ::marker) */

/* Ružové bodky pre Preparation Time */
.preparation-time li::marker {
    color: var(--Rose800);
    font-size: 0.8rem;       /* Ak chceš bodky trochu menšie/väčšie */
}

h2 {
    font-family: 'Young Serif', sans-serif;
    font-size: 1.75rem;
    font-weight: 400;
    color: var(--Brown800);
    margin: 0;
    line-height: 1;
}

.ingredients {   
    width: 100%;
    max-width: 100%;
    padding-top: 2.05rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

/* 1. Základné nastavenie kontajnerov */
.ingredients ul {    
    margin-bottom: 0;      
    list-style-position: outside; /* Odrážka je mimo textu (štandard) */
    padding-left: 0.4rem;    /* Priestor, v ktorom "bývajú" odrážky */
    margin-top: 1.4rem; /* Zmenšené z 1.5rem */
    line-height: 1.5;
}

.ingredients li {
    list-style: none;      /* Skryjeme pôvodnú bodku */
    position: relative;    /* Základňa pre našu novú bodku */    
    padding-left: 2.1rem;  /* Priestor pre bodku vľavo */
    margin-bottom: 0.5rem;    
    color: var(--Stone600);
}

.ingredients li:first-child {
    line-height: 1.55;
    display: list-item;
}

/* Odstránenie spodného marginu pri poslednej položke */
.ingredients li:last-child {
    margin-bottom: 0;
}

.ingredients li::before {
    content: "•";          /* Naša bodka */
    color: var(--Rose800);
    position: absolute;    /* Umožní nám s ňou hýbať nezávisle od textu */
    
    /* CENTROVANIE BODKY: */
    left: 0;               /* Bodka úplne vľavo v tom paddingu */
    top: 50%;              /* Posunie bodku do stredu výšky */
    transform: translateY(-50%); /* Presne vycentruje stred bodky na stred riadkov */
    
    font-size: 1.5rem;     /* Veľkosť bodky */
    line-height: 1;
}

/* 3. Špeciálne farby pre bodky a čísla (pomocou ::marker) */

/* Ružové bodky pre Preparation Time */
.ingredients li::marker {
    color: var(--Brown800);
    font-size: 0.8rem;       /* Ak chceš bodky trochu menšie/väčšie */
}

.instructions {   
    width: 100%;
    max-width: 100%;
    padding-top: 2.1rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

/* 1. Základné nastavenie kontajnerov */
.instructions ol {    
    margin-bottom: 0;      
    list-style-position: outside; /* Odrážka je mimo textu (štandard) */
    margin-top: 1.45rem; /* Zmenšené z 1.5rem */
    line-height: 1.5;
    padding-left: 0.5rem;
    list-style-type: none; /* Vypne tie čísla s pätkami */
    counter-reset: instructions-counter; /* Vytvorí počítadlo */
}

.instructions li {
    counter-increment: instructions-counter; /* Každý riadok zvýši číslo o 1 */
    position: relative;    /* Základňa pre našu novú bodku */    
    padding-left: 1.95rem;  /* Priestor pre bodku vľavo */
    margin-bottom: 0.5rem;    
    color: var(--Stone600);
}

.instructions li:first-child {
    line-height: 1.5;
}

/* Odstránenie spodného marginu pri poslednej položke */
.instructions li:last-child {
    margin-bottom: 0;
}

/* 3. Vyrobíme si vlastné číslo pomocou ::before */
.instructions li::before {
    content: counter(instructions-counter) "."; /* Tu sa zobrazí 1., 2., atď. */
    position: absolute;
    left: 0;
    top: 0.3rem; /* Ak je príliš vysoko, skús 0.15rem alebo 2px */
    color: var(--Rose800);    
    font-size: 1rem;     /* Veľkosť bodky */
    font-family: 'Outfit', sans-serif !important; /* Tu vynútime čistý font */
    font-weight: 700;
    line-height: 1;
}

/* 3. Špeciálne farby pre bodky a čísla (pomocou ::marker) */

/* Ružové bodky pre Preparation Time */
.instructions li::marker {
    color: var(--Brown800);
}

.separator {
    height: 1px;
    background-color: var(--Stone150);
    /* Ak chceš, aby čiara lícovala s textom, daj jej 100% 
       alebo ju jemne skráť, napr. na 90% */
    width: calc(100% - 4rem); /* Zabezpečí, že box nepretečie kvôli marginu */ 
    margin-top: 1.9rem; /* 2rem hore a dole vytvorí pekný priestor medzi sekciami */
    margin-left: 2rem;
}

.nutrition {   
    width: 100%;
    max-width: 100%;
    padding-top: 2.1rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

table {
    border-collapse: collapse;
    padding-top: 1.5rem;  
    margin-top: 0.8rem;  
    width: 100%;
}

tr {
    border-bottom: 1px solid var(--Stone100);
    line-height: 1.29rem;
}

tr:last-child {
    border-bottom: none; /* Pod posledným riadkom čiaru nechceme */
}

td {
    padding-top: 0.4rem;
    padding-bottom: 0.875rem;
    padding-left: 2rem;
    padding-right: 2rem; /* Priestor v bunkách (prispôsob si podľa oka) */
}

/* Prvý stĺpec - názvy (Calories, atď.) */
td:first-child {
    color: var(--Stone600);
    width: 42.5%;
    padding-top: 0.55rem;
    padding-bottom: 0.5rem;
}

/* Druhý stĺpec - hodnoty (277kcal, atď.) */
td:last-child {
    color: var(--Brown800);
    font-weight: 700;    
    padding-top: 0.775rem;
}

.attribution { 
    font-size: clamp(0.625rem, 1vw + 0.2rem, 0.6875rem);     
    text-align: center; 
}

.attribution-link { 
    color: var(--Blue); 
}

/* Desktop Styles (Larger screens (min-width: 768px) (tablety a desktopy)) */
@media (min-width: 48rem)  /* 48rem = 768px  */ {
    body {
        background-color: var(--Stone100);
        padding: 7.7rem 0; /* Trochu miesta hore a dole */
    }
    
    .recipe-card {    
        background-color: var(--White);
        border-radius: 1.5rem; /* Zaoblené rohy na bielej karte */    
        max-width: 46rem; /* Karta sa roztiahne, ale nie príliš */        
        padding-bottom: 1.75rem;
    }

    .recipe-page {
        max-width: 46rem;
        padding: 0.1rem 1.75rem 0 2.5rem;
    }

    img {
        border-radius: 3.25rem; /* Obrázok už nie je na celú šírku, ale má rohy */
        display: block;
        padding: 2.5rem 2.5rem;
    }

    h1 {
        font-size: 2.5rem;
    }

    .recipe-page p {
        padding-block-start: 1.4rem;
    }

    .preparation-time {
        margin-left: 2.5rem;
        margin-top: 2.2rem;
        padding-left: 1.75rem;
        padding-top: 1.377rem;
        padding-bottom: 1.65rem;
        width: calc(100% - 5.2rem); /* Zabezpečí, že box nepretečie kvôli marginu */ 
    }

    .preparation-time li {
        line-height: 1.5;
    }

    .ingredients {   
        padding-top: 2.1rem;
        padding-left: 2.5rem;
        padding-right: 2rem;
    }

    .ingredients li {
        line-height: 1.5rem;
    }

    .separator {
        width: calc(100% - 5rem); /* Zabezpečí, že box nepretečie kvôli marginu */ 
        margin-top: 1.95rem; /* 2rem hore a dole vytvorí pekný priestor medzi sekciami */
        margin-left: 2.5rem;
    }

    h2 {
        font-size: 1.755rem;
    }

    .instructions {   
        padding-top: 2.05rem;
        padding-left: 2.5rem;
        padding-right: 2.5rem;
    }

    .nutrition {   
        padding-top: 1.975rem;
        padding-left: 2.5rem;
        padding-right: 2.5rem;
    }

    tr {
        line-height: 1.3rem;
    }

    td:first-child {
        width: 46.4%;
    }

   tr:last-child {
        line-height: 1.2rem;            
    }

    @media (prefers-reduced-motion: reduce) {
  * {
    transition: none;
    animation: none;
  }
        
}