:root {
    --White: hsl(0, 0%, 100%);
    --Stone100: hsl(30, 54%, 90%);
    --Stone150: hsl(30, 18%, 87%);
    --Stone600: hsl(30, 10%, 34%);
    --Stone900: hsl(24, 5%, 18%);
    --Brown800: hsl(14, 45%, 36%);
    --Rose800: hsl(332, 51%, 32%);
    --Rose50: hsl(330, 100%, 98%);
    --Blue: hsl(228, 45%, 44%); 
}

* {
    box-sizing: border-box; 
    font-family: 'Outfit', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center; /* Vertikálne centrovanie */
    min-height: 100vh;
    width: 100%;
    margin-block-start: clamp(0rem, 16vw - 6rem, 7.7rem);
    margin-inline: 0;
    gap: 0.5rem;
}

.recipe-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Vertikálne centrovanie */
    margin: 0 auto; /* Toto kartu vycentruje vodorovne */
    width: 100%;
    max-width: clamp(24rem, 100%, 46rem);
    background-color: var(--White);
    /* Plynulá šírka: na mobile 100%, potom rastie až do 46rem */
    border-radius: clamp(0rem, (100vw - 30rem) * 5, 1.5rem);
    padding-block-end: 1.75rem;
}

.image {
    display: block;
    height: auto;
    margin: 0 auto;
    padding-block-start: clamp(0rem, 10vw - 4rem, 2.5rem);    
    padding-inline: clamp(0rem, 10vw - 4rem, 2.5rem);
}

img {
    width: 100%;
    max-width: 100%;
    object-fit: cover;    /* Zabezpečí, že sa obrázok pri zmene pomeru nezdeformuje */
    border-radius: clamp(0rem, (100vw - 30rem) * 5, 0.75rem);
}

.recipe-page {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding-inline-start: clamp(2rem, 3vw, 2.5rem);
    padding-block-start: clamp(2.25rem, 5vw, 2.3rem);
    padding-inline-end: clamp(1.75rem, 5vw, 2.4rem);
    padding-block-end: 2.2rem;
}

.recipe-page h1 {
    margin: 0;
    font-family: 'Young Serif', sans-serif;
    font-weight: 400;
    font-size: clamp(2.25rem, 3vw, 2.5rem);
    color: var(--Stone900);
    line-height: 1;
}

.recipe-page p {
    margin: 0;
    padding-block-start: 1.45rem;
    line-height: 1.5;
    color: var(--Stone900);
    font-weight: 400;
}

.preparation-time {
    display: flex;
    flex-direction: column;    
    align-items: flex-start;
    width: 82.6%;
    background-color: var(--Rose50);
    box-shadow: 
        0.01rem -0.25rem rgb(from var(--Rose50) r g b / 0.5);
    border-radius: 0.5rem;
    margin-inline: clamp(2rem, 5vw, 2.5rem);   
    padding-block-start: clamp(1.15rem, 2vw, 1.4rem);
    padding-inline-start: clamp(1.5rem, 2vw, 1.75rem);
}

.preparation-time h3 {
    color: var(--Rose800);
    font-weight: 600;
    font-size: 1.25rem;
    margin: 0;
}

.preparation-time ul {
    margin: 0;
    padding-block-start: 0.85rem;
    list-style-position: outside; /* Odrážka je mimo textu (štandard) */
    padding-inline-start: 0.45rem;    /* Priestor, v ktorom "bývajú" odrážky */
    padding-inline-end: 2rem;
    padding-block-end: clamp(1.5rem, 5vw, 1.85rem);
}

.preparation-time li {
    margin: 0;
    padding-inline-start: 2rem;
    color: var(--Stone600);
    list-style: none;      /* Skryjeme pôvodnú bodku */
    position: relative;    /* Základňa pre našu novú bodku */    
    line-height: clamp(2.6rem, -1.5vw, 2.5rem);
}

.preparation-time li::before {
    content:"\2022"; /* Naša bodka */
    position: absolute;    /* Umožní nám s ňou hýbať nezávisle od textu */
    color: var(--Rose800);
    /* CENTROVANIE BODKY: */
    left: 0;               /* Bodka úplne vľavo v tom paddingu */
    top: 50%;              /* Posunie bodku do stredu výšky */
    transform: translateY(-50%); /* Presne vycentruje stred bodky na stred riadkov */
    font-size: 1.25rem;     /* Veľkosť bodky */
    line-height: 1;
}

.preparation-time li:first-child {
    line-height: 1.455;
    display: list-item;
}

.preparation-time li:last-child {
    margin-bottom: 0; /* Odstránenie spodného marginu pri poslednej položke */
    line-height: 1.455;
}

h2 {
    font-family: 'Young Serif', sans-serif;
    font-size: 1.75rem;
    font-weight: 400;
    color: var(--Brown800);
    margin: 0;
}

.ingredients {   
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 100%;
    margin: 0;
    padding-block-start: clamp(1.5rem, -1.5vw + 2rem, 1.75rem);
    padding-inline-start: clamp(2rem, 3.5vw, 2.5rem);
    padding-right: 2rem;
}

.ingredients ul {
    margin: 0;
    padding-block-start: 0.855rem;
    list-style-position: outside; /* Odrážka je mimo textu (štandard) */
    padding-inline-start: 0.45rem;    /* Priestor, v ktorom "bývajú" odrážky */
    padding-inline-end: 2rem;
    padding-block-end: clamp(1.5rem, 5vw, 1.85rem);
}

.ingredients li {
    margin: 0;
    padding-inline-start: 2.05rem; /* Priestor pre bodku vľavo */
    color: var(--Stone600);
    list-style: none;      /* Skryjeme pôvodnú bodku */
    position: relative;    /* Základňa pre našu novú bodku */    
    line-height: clamp(2.02rem, -1.5vw, 2.45rem);
}

.ingredients li::before {
    content:"\2022"; /* Naša bodka */
    position: absolute;    /* Umožní nám s ňou hýbať nezávisle od textu */
    color: var(--Brown800);
    /* CENTROVANIE BODKY: */
    left: 0;               /* Bodka úplne vľavo v tom paddingu */
    top: 50%;              /* Posunie bodku do stredu výšky */
    transform: translateY(-50%); /* Presne vycentruje stred bodky na stred riadkov */
    font-size: 1.25rem;     /* Veľkosť bodky */
    line-height: 1;
}

.ingredients li:last-child {
    margin-top: 0.18rem;
    margin-bottom: 0; /* Odstránenie spodného marginu pri poslednej položke */
    line-height: 1.5;
}

.separator {
    height: 1px;
    background-color: var(--Stone150);
    /* Ak chceš, aby čiara lícovala s textom, daj jej 100% 
       alebo ju jemne skráť, napr. na 90% */
    width: clamp(calc(100% - 5rem), -2vw + 100%, calc(100% - 4rem)); /* Zabezpečí, že box nepretečie kvôli marginu */ 
    margin-block-start: clamp(0.15rem, -1vw + 0.8rem, 0.5rem); /* 2rem hore a dole vytvorí pekný priestor medzi sekciami */
    margin-inline-start: clamp(2rem, 1.5vw, 2.5rem);
}

.instructions {   
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 100%;
    margin: 0;
    padding-block-start: clamp(1.7rem, -1.5vw + 2rem, 1.75rem);
    padding-inline-start: clamp(2rem, 3.5vw, 2.5rem);
    padding-inline-end: clamp(2rem, 3.5vw, 2.5rem);
}

.instructions ol {
    margin: 0;
    padding-block-start: 1.125rem;
    padding-inline-start: 0.5rem;
    list-style-position: outside; /* Odrážka je mimo textu (štandard) */
    list-style-type: none; /* Vypne tie čísla s pätkami */
    counter-reset: instructions-counter; /* Vytvorí počítadlo */
    padding-block-end: clamp(1.4rem, 3.5vw, 1.755rem);    
}

.instructions li {
    margin: 0;
    counter-increment: instructions-counter; /* Každý riadok zvýši číslo o 1 */
    position: relative;    /* Základňa pre našu novú bodku */
    padding-inline-start: 1.95rem;  /* Priestor pre bodku vľavo */
    color: var(--Stone600);
    line-height: 1.505;
    margin-block-end: 0.5rem;
}

/* 3. Vyrobíme si vlastné číslo pomocou ::before */
.instructions li::before {
    content: counter(instructions-counter) "."; /* Tu sa zobrazí 1., 2., atď. */
    position: absolute;
    left: 0;
    top: 0.3rem; /* Ak je príliš vysoko, skús 0.15rem alebo 2px */
    font-size: 1rem;     /* Veľkosť bodky */
    font-family: 'Outfit', sans-serif !important; /* Tu vynútime čistý font */
    font-weight: 700;
    color: var(--Brown800);
    line-height: 1;
}

.instructions li:first-child {
    line-height: 1.5;
    margin-block-end: 0.45rem;
}

.instructions li:last-child {
    margin-block-end: 0;
}

.separator-second {
    display: block;      /* Zabezpečí, že sa prvok vykreslí */
    height: 1px;
    background-color: var(--Stone150);
    border: none;
    
    /* ZÁKLAD PRE MOBIL */
    width: 83%;
    margin-inline-start: 2rem;
    margin-block-start: 0.5rem;
    margin-block-end: 1.5rem;
}

.nutrition {   
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 100%;
    margin: 0;
    padding-block-start: clamp(0.15rem, -1.5vw, 0.2rem);
    padding-inline-start: clamp(2rem, 3vw, 2.5rem);
    padding-inline-end: clamp(2rem, 3vw, 2.5rem);
}

.nutrition h2 {
    padding-block-end: 0.15rem;
}

.nutrition p {
    line-height: 1.5;
    margin: 0;
    margin-block-start: 1rem;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-block-start: 0.9rem;
}

tr {
    border-bottom: 1px solid var(--Stone100);
    line-height: 1.65;
}

tr:first-child {
    line-height: 1.5;      
}


tr:last-child {
    border-bottom: none;
}

td {
    padding-block-start: 0.6rem;
    padding-block-end: 0.7rem;    
}

td:first-child {
    padding-inline-start: 2rem; 
    width: 50%;     
    color: var(--Stone600);
    font-weight: 400;
}

td:last-child {
    color: var(--Brown800);
    font-weight: 700;  
    padding-inline-start: 0.5rem;      
}

.attribution { 
    font-size: 0.6875rem; 
    text-align: center; 
}

.attribution-link { 
    color: var(--Blue); 
}

/* Desktop Styles (Larger screens (min-width: 768px) (tablety a desktopy)) */
@media (min-width: 46rem)  /* 48rem = 768px  46rem = 736px*/ {
    body {
        background-color: var(--Stone100);
    }

    .preparation-time {
        width: 89.15%;
    }

    .separator-second {
        width: 89.15%;
        margin-inline-start: 2.5rem;
        margin-block-start: 0.2rem;
    }    
}